<section>
  <div class="table-responsive">
    <table class="table table-light table-striped">
      <thead class="table-dark table-striped">
        <tr>
          <th scope="col">Asignaturas</th>
          <th scope="col">Notas</th>
          <th scope="col">Promedio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nota of notas">
          <td>{{ nota.asignatura }}</td>
          <td>{{ nota.notas.join(' - ') }}</td>
          <td>{{ nota.promedio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
