<div class="imagen">
  <div class="container">
    <!-- Section texto -->
    <section>
      <!-- Fila 1 -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 my-5 fondo-columna">
          <h1>Programa de Apoyo para Estudiantes</h1>
          <p>En esta sección podrás encontrar toda la información relacionada con las actividades, notas, materiales de
            los alumnos, así como el sistema académico, alumnos destacados y generaciones de años anteriores.</p>
        </div>
      </div>
      <!-- Fila 2 -->
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-4 my-4 fondo-columna">
          <h1>Inicia sesión para acceder a la información</h1>
          <p>Para poder obtener acceso a todo el contenido disponible en esta plataforma web, deberás iniciar sesión
            previamente. Si aún no cuentas con un perfil, puedes crearlo en nuestro apartado de <a
              routerLink="registrate" class="registro-button">Registro</a>.</p>
        </div>
      </div>
    </section>
  </div>
</div>