<div class="imagen">
  <!-- Section texto -->
  <section>
    <!--Fila 1-->

    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-1 my-5">
        </div>
        <div class="col-4 my-5 fondo-columna">
          <h1>Programa de Apoyo para Estudiantes</h1>
          <p>Esta sección podrás encontrar toda la Información relacionada con las actividades,
            notas, materiales de los Alumnos, así como el Sistema académico, alumnos destacados
            y generaciones de alumnos de años anteriores.</p>
        </div>
      </div>
    </div>
    <!--Fila 2-->
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-7 my-4">
        </div>

        <div class="col-4 my-4 fondo-columna">
          <h1>Inicia sesión para acceder a la información</h1>
          <p>Para poder obtener el acceso a todo el contenido disponible en esta plataforma web,
            deberás iniciar sesión previamente, si aún no cuentas con un perfil puedes crearlo
            en nuestro apartado de <a routerLink="registrate" class="registro-button">Registro</a></p>
        </div>
      </div>
    </div>
  </section>
</div>