header nav {
  color: white;
  text-align: center;
}

.btn {
  color: white !important;
  border-color: rgb(203, 203, 203) !important;
}

.navbar-nav .btn {
  font-size: 14px;
  padding: 8px 16px;
  margin-left: 8px;
  margin-right: 8px;
}

@media (max-width: 991px) {
  header nav {
    text-align: left;
  }

  .navbar-toggler {
    margin: 10px 0;
  }
}
