<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container justify-content-center mx-auto">
      <div class="col" style="width: 33%; flex-basis: 0;">
        <h4>Aula Educativa</h4>
      </div>
      <div class="col" style="width: 33%; flex-basis: 0;">
        <a href="login.html">
          <img src="assets\img_header\logo_sin_registrar.png" width="15%" height="auto" class="d-inline-block align-top" alt="Logo">
        </a>
      </div>
      <div class="col" style="width: 33%; flex-basis: 0;">
        <button class="btn btn-outline-success" type="submit" routerLink="iniciar-sesion">Iniciar Sesión</button>
      </div>
    </div>
  </nav>
</header>