header nav {
  color: white;
  text-align: center;
}

.btn {
  color: white !important;
  border-color: rgb(255, 255, 255) !important;
}

@media (max-width: 991px) {
  header nav {
    text-align: left;
  }

  .navbar-toggler {
    margin: 10px 0;
  }
}
