 <!-- Section Home -->
 <section>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" class="table-">Bloques</th>
          <th scope="col" class="table-warning">Lunes</th>
          <th scope="col" class="table-info">Martes</th>
          <th scope="col" class="table-warning">Miercoles</th>
          <th scope="col" class="table-info">Jueves</th>
          <th scope="col" class="table-warning">Viernes</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="table-success">1-2</th>
          <td>Biologia</td>
          <td></td>
          <td>Fisica</td>
        </tr>
        <tr>
          <th scope="row" class="table-success">3-4</th>
          <td></td>
          <td>Matematicas</td>
          <td></td>
          <td>Quimica</td>
          <td>Fisica</td>
        </tr>
        <tr>
          <th scope="row" class="table-success">5-6</th>
          <td>Filosofia</td>
          <td>Lenguaje</td>
          <td></td>
          <td>Economia</td>
          <td>Programacion</td>
        </tr>
        <tr>
          <th scope="row" class="table-success">7-8</th>

        </tr>
      </tbody>
    </table>
  </section>
