.imagen-homepage {
    background-image: url("/assets/fondos/escuela.jpeg");
    background-position: center center;
    background-size: cover;
    min-height: 99vh;
}
.background-mainpage {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5%;
    color: white;
    word-wrap: break-word;
}