<div class="imagen">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="text-center">
                    
                    <h1 class="mt-3" style="color: white; background-color:rgba(97, 95, 95, 0.422); border-radius:20px">Bienvenido!</h1>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h2>Funcionalidades nuevas integradas</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h2>Ahora puedes ver tus notas</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h2>Revisa tu perfil y profesores</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Docentes</h3>
                        <p>Cada vez hay mas docentes dispuestos a trabajar con nosotros, puede revisarlos presionando el siguiente boton!</p>
                        <a routerLink="/docentes" class="btn btn-primary">Ver Docentes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Participantes</h3>
                        <p>Consulta a todos los participantes que se encuentran participando en este programa junto a ti</p>
                        <a routerLink="/participantes" class="btn btn-primary">Ver Participantes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>