<!-- Section Home -->
<div class="card-group">
  <!-- Fila1 -->
  <div class="row mx-auto py-4">
    <div class="col-4 d-flex align-items-stretch">
      <div class="card" *ngFor="let profesor of profesores">
        <div class="card-body">
          <h5 class="card-title"><b>{{ profesor.titulo }}</b></h5>
          <p class="card-text">{{ profesor.nombre }}</p>
          <p class="card-text">Correo: <a href="mailto:{{ profesor.correo }}" style="color:black">{{ profesor.correo }}</a></p>
          <p class="card-text">Horario de atención: {{ profesor.horario }}</p>
        </div>
      </div>

    </div>
  </div>
</div>