<div class="fondo-imagen" style="background-image: url('imagenes/1.jpeg');">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Registro de Alumno</h3>
                        <form [formGroup]="resetForm" id="formulario">
                            <div class="form-group">
                                <label for="username">Rut del alumno</label>
                                <input type="text" id="rut" name="rut" class="form-control" formControlName="rut">
                                <div *ngIf="resetForm.controls['rut'].errors && (resetForm.controls['rut'].dirty || resetForm.controls['rut'].touched)"
                                    class="text-danger">El Rut es inválido</div>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" id="contraseña" name="contraseña" formControlName="contraseña" class="form-control">
                                <div *ngIf="resetForm.controls['contraseña'].errors && (resetForm.controls['contraseña'].dirty || resetForm.controls['contraseña'].touched)"
                                    class="text-danger">La contraseña es inválida</div>
                            </div>
                            <div class="form-group">
                                <label for="password">Recontraseña</label>
                                <input type="password" id="recontraseña" name="recontraseña" class="form-control" formControlName="confirmarContraseña">
                                <div *ngIf="showPasswordMismatchError" class="text-danger">Las contraseñas no coinciden</div>
                            </div>
                            <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary btn-block" (click)="recuperarContrasena()" (keyup.enter)="recuperarContrasena()">Cambiar Contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
