<div class="fondo">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="text-center">
        <h1 class="display-4">Añadir Alumno</h1>
        <a class="btn btn-primary" routerLink="/anadir-alumno">Ir</a>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="text-center">
        <h1 class="display-4">Eliminar Alumno</h1>
        <a class="btn btn-primary" routerLink="/eliminar-alumno">Ir</a>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="text-center">
        <h1 class="display-4">Añadir Docente</h1>
        <a class="btn btn-primary" href="/anadir-docente">Ir</a>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="text-center">
        <h1 class="display-4">Eliminar Docente</h1>
        <a class="btn btn-primary" href="/eliminar-docente">Ir</a>
      </div>
    </div>
  </div>
</div>
</div>