.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: left;
  justify-content: center;
  text-align: center;
  color: white;
}

.footer .row {
  flex-wrap: wrap;
}

.footer h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer a {
  color: rgb(212, 251, 255);
}
