<footer class="footer">
  <div class="container-fluid bg-dark">
    <div class="row justify-content-center">
      <div *ngIf="sesionIniciada()" class="col-sm-12 col-md-4 col-lg-4">
        <h4 >Ventanas</h4>
        <a routerLink="home">Menu Inicio</a><br>
        <a routerLink="docentes">Docentes</a><br>
        <a routerLink="horario">Horario</a><br>
        <a routerLink="notas">Notas</a><br>
        <a routerLink="perfil">Perfil</a><br>
        <a routerLink="participantes">Participantes</a><br>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Información de contacto</h4>
        <p>Dirección: <a href="Avenida Brasil 24, Perú">Avenida Brasil 24, Perú</a></p>
        <p>Contacto: <a href="+56992614075">+56992614075</a></p>
        <p>Email: <a href="comunidad.educativa@gmail.com">comunidad.educativa@gmail.com</a></p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Derechos de autor</h4>
        <p>© 2023 Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
