<footer class="footer">
  <div class="container-fluid bg-dark">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Ventanas (Momentáneo)</h4>
        <a routerLink="">inicio_no_registrado</a><br>
        <a routerLink="home">inicio_registrado</a><br>
        <a routerLink="docentes">docentes</a><br>
        <a routerLink="calendario">calendario</a><br>
        <a routerLink="horario">horario</a><br>
        <a routerLink="notas">notas</a><br>
        <a routerLink="perfil">perfil</a><br>
        <a routerLink="iniciar-sesion">iniciar_sesion</a><br>
        <a routerLink="olvidaste-contrasena">olvidaste_contraseña</a><br>
        <a routerLink="registrate">registrate</a><br>
        <a routerLink="participantes">participantes</a><br>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Información de contacto</h4>
        <p>Dirección: <a href="Avenida Brasil 24, Perú">Avenida Brasil 24, Perú</a></p>
        <p>Contacto: <a href="+56992614075">+56992614075</a></p>
        <p>Email: <a href="comunidad.educativa@gmail.com">comunidad.educativa@gmail.com</a></p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Derechos de autor</h4>
        <p>© 2023 Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
