<section>
    <table class="table table-light table-striped">
      <thead class="table-dark table-striped">
        <tr>
          <th scope="col">Rut</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido materno</th>
          <th scope="col">Colegio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20.919.222-2</td>
          <td>Nathalia</td>
          <td>Pailamilla</td>
          <td>Trigo</td>
          <td>El olivar</td>
        </tr>
        <tr>
          <td>20.919.909-2</td>
          <td>Nathalia</td>
          <td>Pailamilla</td>
          <td>Trigo</td>
          <td>El olivar</td>
        </tr>
        <tr>
          <td>20.919.949-2</td>
          <td>Nathalia</td>
          <td>Pailamilla</td>
          <td>Trigo</td>
          <td>El olivar</td>
        </tr>
        <tr>
          <td>20.919.909-2</td>
          <td>Nathalia</td>
          <td>Pailamilla</td>
          <td>Trigo</td>
          <td>El olivar</td>
        </tr>
        <tr>
          <td>20.919.909-2</td>
          <td>Nathalia</td>
          <td>Pailamilla</td>
          <td>Trigo</td>
          <td>El olivar</td>
        </tr>
      </tbody>
    </table>
  </section>