<section>
    <table class="table table-light table-striped" >
      <thead class="table-dark table-striped">
        <tr>
          <th scope="col">Rut</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido materno</th>
          <th scope="col">Colegio</th>
        </tr>
      </thead>
      <tbody>    
     <tr *ngFor="let alumno of alumnos;">
          <td>{{ alumno.rut }}</td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.apellidoP }}</td>
          <td>{{ alumno.apellidoM }}</td>
          <td>{{ alumno.colegio }}</td>
      </tr>
      </tbody>
    </table>
  </section>